.section {
	font-weight: bold;
	color: white;
	background: hsl(222, 45%, 7%);
	padding: 2rem;
	border-radius: 1rem;

	position: relative;

	transform-style: preserve-3d;
	transform: perspective(3000px) rotateY(var(--rotateX)) rotateX(var(--rotateY));
}

.section > * {
	text-shadow: 0 0 0.3em currentColor;
}

.section::before,
.section::after {
	content: "";
	position: absolute;
	border-radius: inherit;
}

/* shadow */
.section::before {
	inset: 0.75rem;
	border-radius: inherit;
	background: black;
	z-index: -1;
	transform: translateZ(-50px);
	filter: blur(15px);
	opacity: 0.5;
}

.section::after {
	z-index: -2;
	inset: -1rem;
	background: linear-gradient(-45deg, rgb(0, 255, 26), blue);
	transform: translateZ(-50px);
}

.section p {
	font-size: 1rem;
}

.section .title {
	margin-left: 40px;
	font-size: 30px;
	font-family: cursive;
}

.section .name {
	font-size: 50px;
	font-family: sans-serif;
}

.section .job {
	margin-left: 60px;
	font-size: 45px;
	font-family: "Courier New", Courier, monospace;
}

.section__about_me {
	color: white;
	text-shadow: none;
}

.list-group-item {
	background: transparent;
	border: none;
}

.list-group-item > a {
	text-decoration: none;
	font-size: 1rem;
	color: white;
	text-shadow: none;
}

.skills_icon {
	width: 100px;
	height: 100px;
	margin: 14px;
}
