body {
    margin: 0;
    padding: 0;
}
.side-bar {
    background-color: #fff;
    height: 100vh;
}
.main-section {
    background-color: rgba(0, 0, 0, 0.788);
    color: #ffffff;
}
.side-bar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    justify-items: center;
    text-align: center;
}
.about-me {
    margin-top: 20px;
}
.education {
    padding: 5px 20px;
}
.education .timeline-item {
    margin-top: 20px;
}
.projects {
    padding: 5px 20px;
}
.skills {
    padding: 5px 20px;
}
.projects .list-group {
    color: black;
    width: 50%;
}
.projects .list-group-item{
     margin-bottom: 10px;
     border-radius: 4px !important;
}
.projects .list-group a{
    color: black;
    text-decoration: none;
}
.CV {
    margin-top: 25px;
}
hr {
    margin: 5px;
    background-color: #f31111; 
    border-top: 1px solid #f31111;
}